<main>
  Доброго дня, <%= locals.username %>!<br />
    Вы зарегестрированы в Parking Project!<br />
    Пароль, сгенерированны по умолчанию:
    <%= locals.password %> .
      После авторизации на сайте вам будет предложено сменить пароль!
      Удачного дня.
</main>